{{#each this}}
  <li class="film__item" data-id='{{id}}'>
    <a class="film__link" href="#">
      <div class='film__img-thumb'>
        <img  class="lazyload"  data-src="{{poster}}" alt="{{original_title}}" width="274" />
      </div>
      <h2 class="film__name">{{title}}</h2>
      <p class="film__text">{{filmGenres}} | {{filmDate}}</p>
    </a>
  </li>
{{/each}}
